app_variacao/app/ui/core/__pycache__/
app_variacao/app/models/__pycache__/
app_variacao/app/ui/__pycache__/
app_variacao/soup_files/__pycache__/
app_variacao/util/__pycache__/
app_variacao/app/__pycache__/
app_variacao/app/view/__pycache__/
app_variacao/types/__pycache__/
app_variacao/app/controllers/__pycache__/
.venv
.idea/




